@import url(@/global/css/base.css);
@import url(@/global/css/ming-common-css.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer components {
  .hover-filter {
    @apply transition duration-1000 ease-in-out transform hover:-translate-y-1 hover:scale-110 hover:filter hover:blur-lg bg-clip-text
  }
  .title {
    @apply hover-filter text-center mb-8  text-transparent bg-gradient-to-r from-green-400 to-blue-500
  }

  .ming-border {
    @apply border-2 border-gray-100 hover:border-blue-500	 transition-all rounded-xl
  }

  .ming-divider {
    @apply border-t border-2 border-gray-100
  }

  .ming-center {
    @apply grid place-items-center h-screen
  }

  .is-over-max-width {
    @apply xl:mx-auto
  }

}
